<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>Leaderboard</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Van">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5d7c643aa1.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <script src="https://unpkg.com/polipop@1.0.0/dist/polipop.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/polipop@1.0.0/dist/css/polipop.core.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/polipop@1.0.0/dist/css/polipop.default.min.css" />
    <script src="/js/leaderboard.js" type="module"></script>
    <link rel="stylesheet" href="/css/global_styles.css">
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>

    <!-- Semantic ui -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
</head>
<body>
    <div th:insert="layout/Utils.html :: modal"></div>

    <div th:insert="layout/Utils.html :: loading-bar"></div>
    <div th:insert="layout/Utils.html :: forbidden-page"></div>
    <div class="app-wrapper">
        <header th:replace="layout/Header.html :: header"></header>
        <aside th:replace="layout/LeftBar.html :: leftbar-aside"></aside>
        <button th:replace="layout/LeftBar.html :: leftbar-btn"></button>
        <main class="app-main">
            <div class="app-main-container">
                <div class="d-flex my-2">
                    <h2>Leaderboard: <span id="leaderboardName"></span></h2>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="ui left action right icon input">
                        <div class="ui basic floating dropdown button v-dropdown" id="dropdownWrapper">
                            <div class="text" id="dropdownTypeId">Choose type</div>
                            <i class="dropdown icon"></i>
                            <div class="menu" id="searchDropdown">
                                <div value="UserLatest" class="item">
                                    <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="21" cy="21" r="21" fill="white"/>
                                        <path d="M30.1034 27.9492C30.1034 26.7969 29.3929 25.7431 28.2686 25.228L24.3161 23.4164C23.8054 23.1824 23.4827 22.7037 23.4827 22.1803V20.7586C23.5936 20.6429 23.721 20.4939 23.8568 20.3179C24.3955 19.6207 24.8027 18.8533 25.0853 18.0481C25.5922 17.9051 25.9654 17.4757 25.9654 16.9655V15.4483C25.9654 15.1145 25.8037 14.816 25.5517 14.6073V12.4138C25.5517 12.4138 26.0428 9 20.9999 9C15.9566 9 16.4482 12.4138 16.4482 12.4138V14.6073C16.1962 14.816 16.0344 15.1145 16.0344 15.4483V16.9655C16.0344 17.3653 16.2637 17.7169 16.6067 17.9202C17.0201 19.571 18.1034 20.7586 18.1034 20.7586V22.145C18.1034 22.6506 17.8021 23.116 17.3176 23.358L13.6261 25.2041C12.5598 25.7371 11.8965 26.7616 11.8965 27.8749V28.7241C11.8965 28.7241 11.8965 28.9733 11.8965 29.1034C11.8965 30.1507 15.9723 31 20.9999 31C26.0275 31 30.1034 30.1507 30.1034 29.1034C30.1034 28.9733 30.1034 28.7241 30.1034 28.7241V27.9492Z" fill="#40A800"/>
                                    </svg>
                                    Latest account
                                </div>
                                <div value="User" class="item">
                                    <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="21" cy="21" r="21" fill="white"/>
                                        <path d="M30.1034 27.9492C30.1034 26.7969 29.3929 25.7431 28.2686 25.228L24.3161 23.4164C23.8054 23.1824 23.4827 22.7037 23.4827 22.1803V20.7586C23.5936 20.6429 23.721 20.4939 23.8568 20.3179C24.3955 19.6207 24.8027 18.8533 25.0853 18.0481C25.5922 17.9051 25.9654 17.4757 25.9654 16.9655V15.4483C25.9654 15.1145 25.8037 14.816 25.5517 14.6073V12.4138C25.5517 12.4138 26.0428 9 20.9999 9C15.9566 9 16.4482 12.4138 16.4482 12.4138V14.6073C16.1962 14.816 16.0344 15.1145 16.0344 15.4483V16.9655C16.0344 17.3653 16.2637 17.7169 16.6067 17.9202C17.0201 19.571 18.1034 20.7586 18.1034 20.7586V22.145C18.1034 22.6506 17.8021 23.116 17.3176 23.358L13.6261 25.2041C12.5598 25.7371 11.8965 26.7616 11.8965 27.8749V28.7241C11.8965 28.7241 11.8965 28.9733 11.8965 29.1034C11.8965 30.1507 15.9723 31 20.9999 31C26.0275 31 30.1034 30.1507 30.1034 29.1034C30.1034 28.9733 30.1034 28.7241 30.1034 28.7241V27.9492Z" fill="#40A800"/>
                                    </svg>
                                    User Id
                                </div>
                            </div>
                        </div>
                        <input type="text" id="searchInputId" placeholder="Search...">
                        <i id="searchButtonId" class="inverted circular search link icon"></i>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="ui selection dropdown v-dropdown">
                            Visible column
                            <i class="dropdown icon"></i>
                            <div class="menu" id="menuDropdownTb">
                            </div>
                        </div>
                        <i class="cog icon large ml-2 v-icon-cursor" id="subTableConfig"></i>
                    </div>
                </div>
                <div class="data-table mt-2" 
                style="border-bottom: 1px solid #dee2e6; max-height: 75vh;overflow: auto;">
                    <table class="ui compact celled table" id="tableData">
                        <thead>
                          <tr id="tableDataHeaderColumns">
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                      </table>
                </div>
            </div>
        </main>
    <footer th:replace="layout/Footer.html :: footer"></footer>
    </div>
</body>
</html>